doctype html
html
    head
        title   User Home Page
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    block   content
    footer.mastfoot.mt-auto
        .inner
          p
            | Cover template for 
            a(href='https://getbootstrap.com/') Bootstrap
            | , by @ashish_rena.