extends ./layout.pug

block appContent
        h1 Basic Product Page
        p I'm new to express pug
        h2 The Product is : #{product}
        if quantity === 0
            p No stock available
        else
            p Stock Available : #{quantity}
        button Logout